<h1>Increase Bid</h1>

<form>
  <div class="form-group">
    <label for="bid_amount">New Bid Amount</label>
    {{input id="bid_amount" class="form-control" value=bid_amount}}
  </div>
  <button class="btn btn-success" {{action 'save'}}>Submit New Bid</button>
</form>
