<h1>Increase Bid</h1>

<form>
  <div class="form-group">
    <label for="current-bid">New Bid Amount</label>
    {{input id="current-bid" class="form-control" value=current-bid}}
  </div>
  <button class="btn btn-success" {{action 'save'}}>Submit New Bid</button>
</form>
